@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url(https://images.pexels.com/photos/4784/alcohol-bar-party-cocktail.jpg?cs=srgb&dl=alcohol-bar-beverage-4784.jpg&fm=jpg);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav {
  background-color: rgba(85, 139, 47, 0.8);
  padding: 5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffb300;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

li.app-nav {
  display: inline-flex;
  font-family: "Allerta Stencil", sans-serif;
}

li {
  display: inline-flex;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 16px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Allerta Stencil", sans-serif;
  color: #d50000;
  background-color: rgba(232, 245, 233, 0.5);
  font-size: 44px;
  margin-top: -0.5px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Allerta Stencil", sans-serif;
  color: #ffffff;
  font-size: 30px;
}

p {
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 22px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

button.back-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  width: 200px;
  height: 200px;
}

.non-alco-drinks-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 0px 80px;
}

.non-alco-drinks {
  background-color: rgba(255, 179, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  padding: 15px 5px 5px 5px;
  margin: 5px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

img.non-alco-images {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.alco-drinks-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 0px 80px;
}

.alco-drinks {
  background-color: rgba(255, 179, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  padding: 15px 5px 5px 5px;
  margin: 5px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

img.alco-images {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
}

.random-drink {
  color: #ffb300;
  display: flex;
  background-color: rgba(213, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  margin: 10px 0px 0px 420px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
