@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);

.App {
  text-align: center;
}

body {
  background-image: url(https://images.pexels.com/photos/4784/alcohol-bar-party-cocktail.jpg?cs=srgb&dl=alcohol-bar-beverage-4784.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav {
  background-color: rgba(85, 139, 47, 0.8);
  padding: 5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffb300;
  font-size: 18px;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

li {
  display: inline-flex;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  width: 120px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Allerta Stencil", sans-serif;
  color: #d50000;
  background-color: rgba(232, 245, 233, 0.5);
  font-size: 44px;
  margin-top: -0.5px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Allerta Stencil", sans-serif;
  color: #ffffff;
  font-size: 30px;
}

p {
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 20px;
  width: 600px;
  margin-top: 100px;
}

.back-button {
  text-align: center;
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: rgba(76, 137, 250, 0.7);
}

button.back-button {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 18px;
}

.back-button-container {
  text-align: center;
}

.random-button-container {
  text-align: center;
}

.random-button {
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: rgba(76, 137, 250, 0.7);
}

button.random-button {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 18px;
}

img.drink-images {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-top: 10px;
}

.non-alco-drinks-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 0px 160px;
}

.non-alco-drinks {
  background-color: rgba(76, 137, 250, 0.5);
  border-radius: 10px;
  width: 260px;
  padding: 15px 5px 5px 5px;
  margin: 5px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.alco-drinks-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 0px 160px;
}

.alco-drinks {
  background-color: rgba(255, 179, 0, 0.5);
  border-radius: 10px;
  width: 260px;
  padding: 15px 5px 5px 5px;
  margin: 5px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.search-ingred-drinks-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
}

.search-ingred-drinks {
  background-color: rgba(232, 245, 233, 0.5);
  border-radius: 10px;
  width: 260px;
  padding: 15px 5px 5px 5px;
  margin: 5px 5px 10px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.random-drink {
  color: #ffb300;
  display: flex;
  background-color: rgba(213, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  margin: 10px 0px 0px 420px;
}

ul.random-ingredient-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -200px;
}

ul.random-ingredient-list li {
  margin-left: 200px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.random-drink li {
  font-size: 16px;
  width: 300px;
}

ul.drink-recipe-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -200px;
}

ul.drink-recipe-list li {
  margin-left: 200px;
  font-size: 16px;
  width: 350px;
}

.drink-recipe li {
  font-size: 16px;
  width: 230px;
}

.drink-recipe {
  color: #ffb300;
  display: flex;
  background-color: rgba(213, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 600px;
  margin: 10px 0px 0px 420px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-bar-ingred {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

input {
  border: none;
  padding: 6px;
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
  background-color: rgba(76, 137, 250, 0.7);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::placeholder {
  color: #ffb300;
  font-size: 10px;
  font-family: "Allerta Stencil", sans-serif;
}

.list-container {
  display: flex;
  justify-content: space-evenly;
}

.drink-name-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

.drink-name-recipe {
  color: #ffb300;
  display: flex;
  background-color: rgba(213, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-bottom: 5px;
}

.drink-name-recipe-list {
  display: flex;
  align-items: flex-start;
}

.drink-name-recipe li {
  font-size: 16px;
  width: 230px;
}

ul.drink-name-recipe-list li {
  margin-left: 200px;
  font-size: 16px;
  width: 350px;
}

ul.drink-name-recipe-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -200px;
}

ul.drink-ingred-recipe-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -200px;
}

ul.drink-ingred-recipe-list {
  margin-left: 200px;
  font-size: 16px;
  width: 350px;
}

.drink-ingred-recipe li {
  font-size: 16px;
  width: 230px;
}

.drink-ingred-recipe {
  color: #ffb300;
  display: flex;
  background-color: rgba(213, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-top: 5px;
}
